/////////////
//  Style  //
/////////////

// Fonts
// @import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);

// $main-font: 'Raleway', sans-serif;
// $main-font: 'Gotham', sans-serif;
$main-font: 'Montserrat', sans-serif;

$letter-spacing: 0.5px;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 600;
$extrabold: 700;

// Colors
$dark-black: #111;
$black: #333;
$white: #ffffff;

$pink: #EC2979;
$light-gray: #F4F4F4;
$light-gray-2: #E2E6EC;
$gray: #ADB4BC;
$blue: #2188FF;

// Imports
@import 'bourbon';

// Core
@import 'core/normalize';
@import 'core/base';
@import 'core/layout';

// Partials
@import 'partials/sidebar';
@import 'partials/header';
@import 'partials/page';

////////////////
//  User Nav  //
////////////////

.user-nav {
	@include display(flex);
	border-left: 1px solid $light-gray-2;
	padding: 0 1.5rem;

	&:hover {
		text-decoration: none;
	}
}

.user-nav-avatar {
	margin: auto 0.75rem auto 0;
	height: 1.75rem;
	width: 1.75rem;
	border-radius: 4px;
	display: block;
}

.user-nav-name {
	display: block;
	margin: auto 0;
	line-height: 1.75rem;
}