////////////
//  Page  //
////////////

.page {}

.page-header {
	background-color: $white;
	border-top: 1px solid $light-gray-2;
	box-shadow: $shadow;
	padding: 2rem;
	font-weight: $light;

	h1 { font-size: 1.5rem; }
}

// Page Content
.page-content {
	position: relative;
	padding: 5rem 0 2rem 0;
}

///////////////////////
//  Page Navigation  //
///////////////////////

.page-nav {
	@include clearfix;
	z-index: 100;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: $white;
	border-top: 1px solid $light-gray-2;
	box-shadow: $shadow;
	padding: 0 2rem;

	&.is-fixed {
		@include calc(width, "100% - #{$sidebar-width}");
		border-top: none;
		position: fixed;
	}
}

.page-nav-item {
	float: left;
	display: block;
	// padding: 1.25rem 0;
	line-height: $header-height;
	margin: 0 1rem;

	&.is-active,
	&.is-active:hover {
		box-shadow: inset 0 -3px 0 $pink;
	}

	&:hover {
		text-decoration: none;
		box-shadow: inset 0 -3px 0 $pink;
	}
}

// Page Grid
.page-grid {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(center);
}

.page-grid-item {
	@include transition(0.2s ease);
	width: 20rem;
	height: 28rem;
	background-color: $white;
	box-shadow: $shadow;
	margin: 1rem;

	&:hover {
		@include transform(translateY(-3px));
		box-shadow: 0px 3px 4px 0px rgba($black, 0.15);
	}
}